body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: #333;
}

nav{
    color: #fff;
    z-index: 99;
    position: relative;
}

nav a, header a{
    color: #fff;
    text-decoration: none;
}

nav .container{
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .container > div{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

nav .menu, nav form, .footer, .footer .watch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a{
    font-size: 0.8em;
    text-transform: uppercase;
}

nav form{
    margin-right: 2em;
}

nav form input{
    background: transparent;
    color: #fff;
    width: 12em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
}

nav form input::placeholder{
    color: #fff;
}

.logo{
   width: 4em; 
   display: inline-block;
}

.nav-btn{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}

.nav-btn:hover{
    background: rgba(255, 255, 255, 0.6);
}

nav .container .menu-btn{
    display: none;
}

header{
    height: 100vh;
    background: #090909;
    position: relative;
    overflow: hidden;
    color: #fff;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    right: -40em;
    background: linear-gradient(45deg, #ccee66, #6e9623);
    width: 100%;
    height: 120%;
    transform: rotate(70deg);
    z-index: 0;
}

header::after{
    content: 'Ro645a';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0,0,0,0.2);
    font-size: 17em;
    font-weight: 700;
    z-index: 0;
}

.body{
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2em;
    height: 75%;
    position: relative;
    z-index: 1;
    max-width: 1250px;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0 3em;
}

.body h1{
    font-size: 3.5em;
    margin: 0.5em 0;
}

.body h4{
    font-size: 1.5em;
    margin: 0.5em 0;
}

.body p{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 0.9em;
    margin: 2em 0 3em 0;
    max-width: 45em;
}

.btn{
    padding: 0.7em 1.5em;
    background: #a3be52;
    border-radius: 3em;
    letter-spacing: 1px;
    font-size: 1em;
    transition: 0.3s;
}

.btn:hover{
    background: #6e9623;
}

.body > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.body .fas{
    color: #fcc204;
}

.body img{
    width: 45em;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
}

.footer{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 3em;
    position: relative;
}

.footer a{
    margin: 0 0.4em;
    font-size: 1.2em;
}

.footer .play-icon{
    border: 3px #fff solid;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    font-size: 1.3em;
    box-shadow: 0px 0px 15px #fff;
    margin-right: 0.8em;
    transition: 0.3s;
    cursor: pointer;
}

.footer .play-icon:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px transparent;
}


/* For Responsive design */
@media screen and (max-width: 1000px){
    nav .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .container > div{
        grid-template-columns: 1fr;
    }
    nav .menu{
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    nav ul li{
        display: block;
        margin: 0.5em 0;
    }
    nav ul li:nth-child(1){
        margin-top: 1.5em;
    }
    nav .container .menu-btn{
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }
    nav .container .nav-toggle{
        height: 16em;
    }
}

@media screen and (max-width: 1210px){
    nav{
        margin-bottom: 2em;
    }
    .body{
        grid-template-columns: 1fr;
        text-align: center;
    }
    header::before{
        display: none;
    }
    header{
        height: initial;
    }
    .body > div:nth-child(2){
        justify-content: center;
        margin: 3em 0;
    }
    .body img{
        transform: none;
    }
    .body p{
        margin: 2em auto 3em auto;
    }
}

@media screen and (max-width: 800px){
    html{
        font-size: 14px;
    }
    .body img{
        width: 90%;
    }
    .footer{
        flex-direction: column;
        margin-top: 3em;
    }
    .watch{
        margin: 2em 0;
        flex-direction: column;
    }
    .footer .play-icon{
        margin: 0;
    }
}

@media screen and (max-height: 650px){
    header{
        height: initial;
    }
    .footer{
        margin: 4em auto 2em auto;
    }
}